<h2>Statistics</h2>
<div class="card-container">
  <div class="statcard">
    {{ "[![Felix's github stats](https://github-readme-stats.vercel.app/api?username=felixfaisal&theme=chartreuse-dark&show_icons=true)](https://github.com/felixfaisal/github-readme-stats)"| markdownify }}
  </div>
  <div class="statcard">
    {{"[![Top Langs](https://github-readme-stats.vercel.app/api/top-langs/?username=felixfaisal&layout=compact&theme=chartreuse-dark)](https://github.com/anuraghazra/github-readme-stats)" | markdownify}}
  </div>
  <div class="statcard">
      {{"[![willianrod's wakatime stats](https://github-readme-stats.vercel.app/api/wakatime?username=felixfaisal&layout=compact&theme=chartreuse-dark)](https://github.com/anuraghazra/github-readme-stats)" | markdownify}}
  </div>
     
</div>